.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.criador{
    width: 60%;
    max-width: 700px;
    text-align: right;
    font-size: .8em;

    span{
        color: var(--lilas);
    }
}



.post img{
    width: 60%;
    max-width: 700px;
    max-height: 1000px;
    border: 2px solid var(--lilas);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.post h3::after{
    content: "";
    background-color: var(--preto);
    height: 1px;
    width: 70%;
    position: absolute;
    bottom: -10px;
    left: 15%;
}

.tags{
    display: flex;
}

.tags p{
    margin: 1em;
    font-weight: bold;
    color: var(--laranja);
}

.post a {
    margin-bottom: 4em;
}

@media (max-width: 820px){
    .body{
        width: 60%;
        max-width: 700px;
        font-size: .9em;
    }

    .tags{
        width: 70%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}