.navbar{
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    z-index: 999;
}

.brand{
    text-decoration: none;
    font-size: 1.2em;
}

.brand span{
    font-weight: 800;
    text-transform: uppercase;
}

.links_list{
    display: flex;
    list-style: none;
}

.links_list li{
    margin-right: 1em;
}

.links_list li a{
    padding: .4em .6em;
    text-decoration: none;
    border-radius: 5px;
}

.active{
    background-color: var(--preto);
    color: var(--lilas);
}

@media screen and (max-width: 820px) {
    .links_list{
        position: fixed;
        flex-direction: column;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: var(--bege);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 0;
        align-items: center;
        padding: 20px;

        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 99%);
        transition: all .8s;
        z-index: 999;
    }

    .navbar ul li{
        margin: 2em 0em;
    }

    .burguer{
        cursor: pointer;
        padding: 5px;
    }

    .open{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: all .8s;
    }

    .close{
        cursor: pointer;
        transition: .5s;
    }

    .close:hover{
        transform: scale(110%);
    }
}